@model MvcTEST.Models.tblResult

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblResult</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblUser.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblUser.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblGame.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblGame.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LapTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LapTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Distance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResultDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResultDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
