@model MvcTEST.Models.tblGame

@{
    ViewBag.Title = "Delete";
}

<div id="l1" style="padding: 10px; width: inherit; height: inherit; position: relative; z-index: 1; -moz-box-shadow: 3px 3px 5px 6px #000; -webkit-box-shadow: 3px 3px 5px 6px #000; box-shadow: 0px 0px 20px 0px gray; border: 0px solid; border-radius: 10px; -moz-border-radius: 10px; background-color: #EFECE7;">
    <div align="right" style="border: 0px solid;">
        <a href="@Url.Action("Index", "Home")" >
            <img src="~/ImagesApp/close.png" border="0" /></a>
    </div>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblGame</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameHR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameHR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameENG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameENG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsRandom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRandom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTimeLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTimeLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Objectives)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Objectives)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Definition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Definition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescriptionHR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescriptionHR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumShownFields)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumShownFields)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumRepetition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumRepetition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomFields)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomFields)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuickGamePool)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuickGamePool)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblCategory.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
    </div>