@model MvcTEST.Models.tblGame

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblGame</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameHR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameHR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameENG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameENG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsRandom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRandom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTimeLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTimeLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Objectives)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Objectives)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Definition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Definition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescriptionHR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescriptionHR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumShownFields)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumShownFields)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumRepetition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumRepetition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomFields)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomFields)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuickGamePool)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuickGamePool)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblCategory.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinStayTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinStayTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxStayTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxStayTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinFlyTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinFlyTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxFlyTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxFlyTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartField)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartField)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Countdown)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Countdown)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LegLeft)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LegLeft)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LegRight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LegRight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Distance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescriptionDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescriptionDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reaction)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reaction)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReactionTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReactionTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReactionFootDef)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReactionFootDef)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReactionSignalID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReactionSignalID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReactionTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReactionTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemoryTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemoryTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChaseSymbolID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChaseSymbolID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChaseFieldsTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChaseFieldsTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActiv)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActiv)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeriesLength)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeriesLength)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RandomFieldsID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RandomFieldsID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLimitSecMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLimitSecMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescriptionDurationSecMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescriptionDurationSecMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartFieldID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartFieldID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kinetic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kinetic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Extreme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Extreme)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventID1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventID1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventColor1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventColor1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventID2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventID2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventColor2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventColor2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventID3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventID3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventColor3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventColor3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventID4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventID4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventColor4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventColor4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventID5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventID5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventColor5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventColor5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartFieldID2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartFieldID2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartField2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartField2)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
