@model IEnumerable<MvcTEST.Models.tblGame>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameHR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameENG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRandom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RandomValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RandomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTimeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objectives)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Definition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionHR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumShownFields)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumRepetition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RandomFields)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickGamePool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinStayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxStayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinFlyTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxFlyTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartField)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Countdown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegRight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReactionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReactionFootDef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReactionSignalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReactionTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemoryTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChaseSymbolID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChaseFieldsTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActiv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RandomFieldsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLimitSecMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionDurationSecMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartFieldID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kinetic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extreme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventID1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventColor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventID2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventColor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventID3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventColor3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventID4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventColor4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventID5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventColor5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartFieldID2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartField2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameHR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameENG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRandom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RandomValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RandomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTimeLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objectives)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Definition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionHR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumShownFields)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumRepetition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RandomFields)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuickGamePool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinStayTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxStayTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinFlyTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxFlyTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Countdown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegRight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReactionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReactionFootDef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReactionSignalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReactionTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemoryTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChaseSymbolID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChaseFieldsTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActiv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeriesLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RandomFieldsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeLimitSecMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionDurationSecMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartFieldID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kinetic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extreme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventID1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventColor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventID2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventColor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventID3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventColor3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventID4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventColor4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventID5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventColor5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartFieldID2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartField2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
