@model MvcTEST.Models.MyViewModel
@using MvcTEST.HtmlHelpers
@{
    ViewBag.Title = "Index";
}

<style>

.polje_red
{ 
    color:red; 
    width:50px; 
    height:50px; 
    background-color:red;

} 
.polje_white
{ 
    color:red; 
    width:50px; 
    height:50px; 
    background-color:white;

} 

.polje_lgray
{ 
    color:red; 
    width:30px; 
    height:30px; 
    background-color:lightslategray;

} 
.teren
{ 
    width: 100%; 
    text-align: left; 
    vertical-align:top; 
    border-spacing:0px; 
    border:0px; 
    PADDING:0; 
    border-collapse:collapse;

} 

</style>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/Scripts//fancybox/jquery.Easing-1.3.pack.js"></script>
    <link id="size-stylesheet" href="@Url.Content("/Content/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/fancybox/jquery.fancybox-1.3.4.css")" type="text/css" media="screen" />

<div id="l1" style="padding: 10px; position: relative; z-index: 1; -moz-box-shadow: 3px 3px 5px 6px #000; -webkit-box-shadow: 3px 3px 5px 6px #000; box-shadow: 0px 0px 20px 0px gray; border: 0px solid; border-radius: 10px; -moz-border-radius: 10px; background-color: #EFECE7;">
    <div align="right" style="border: 0px solid;">
        <a href="@Url.Action("Index", "AdminHome")" >
            <img src="~/ImagesApp/close.png" border="0" /></a>
    </div>


    <table style="width: 100%">
        <!-- NAZIV EKRANA-->
        <tr>
            <td align="left" colspan="2">
                <font size="5"><b>@Html.Translate("KONFIGURATOR")</b></font>
            </td>
            <td align="right" rowspan="2">
                <img src="~/ImagesApp/KonfiguratorIkona.png" />
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">
                <font size="4"><b>3.</b> @Html.Translate("Koliko polja koristite?")</font>
            </td>

        </tr>
        <tr>
            <td align="left" colspan="3">
                <hr />
            </td>
        </tr>
        <tr>
            <td align="left" colspan="3">
                <font>@Html.Translate("Molimo vas da odaberete broj aktivnih fiksnih ploča (min. 1 - max. 32) i da ih poslažete.")</font>
            </td>
        </tr>
       
        <!-- TABELA:  -->
        <tr>
            <td colspan="3">                    
                    <table class="teren" style="margin:20px 0 20px 0">
                        <tr>

                            @if (ViewBag.terens.RadioX == 1)
                            {
                            
                            <!-- od min. 1 do max. 32 , input box sa scrolom-->
                            <td style="width:100px; vertical-align:top;">
                                <div  class="editor-field" style="width:60px;">
                                    @Html.DropDownListFor(x => x.Id,
                                                        new SelectList(Model.Items, "Value", "Text"),
                                                        "-- Bitte select --",
                                                        new { style = "width: 50px;" }
                                                         )
                               </div>
                            </td>       
                            }

                            <!-- slika terena sa mogucnoscu razmjestaja polja, (inicijalno 8x4=32 max.) --> 
                            <td style="vertical-align:top;">

                                    <div id="teren">

                                        @Html.Partial("teren")

                                    </div>

                            </td>

                        </tr>
                    </table>

                    <table style="width:100%; " >
                        <tr>
                            <!-- NATRAG -->
                            <td>
                                <input type="button" value='@Html.Translate("BTN:BACK").ToUpper()' onclick="location.href = '/Configurator/Start2'" class="cancel"/>
                            </td>
                            <!-- OK -->
                            <td style="text-align:right;">
                                <input type="button" value='@Html.Translate("Spremi").ToUpper()' onclick="location.href = '/Configurator/Start4'" class="save"/>
                            </td>
                        </tr>
                    </table>

            </td>
        <script>
            $(document).ready(function () {
                $('#Id').change(function () {
                    var broj = $('#Id').val();
                    $.post('@Url.Action("AjaxSetBrojPolja", "Configurator")', { broj: broj },
                         function (data) {
                             $('#teren').html(data);
                         });
                    //window.location.href = window.location.href;

                });
            });
        </script>
        </tr>
    </table>

</div>

<script type="text/javascript">



    var wsUri = "ws://localhost:8080/test";


    var action = {
        pressed: function (field) {
            //alert();
            $.post('@Url.Action("AjaxSetCourtID", "Configurator")', { field: field },
                 function (data) {
                     $('#teren').html(data);
                 });
        }
    };
                     //window.location.href = window.location.href;
        function init() {

            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) { onOpen(evt) };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };

        }


        function onOpen(evt) {
            websocket.send("CALIBRATE!!0");
        }

        function onClose(evt) {

        }

        function onMessage(evt) {
            var data = evt.data.split("!!");
            action[data[0]](data[1]);
        }

        function onError(evt) {
            //alert("ERROR:" + evt.data);
            //alert("Cannot connect to server...");
            alert("Kann keine Verbindung zum Server!");
        }

        window.addEventListener("load", init, false);



    </script>





