@using MvcTEST.HtmlHelpers
@model MvcTEST.Models.tblTemplate

@{
    ViewBag.Title = "terenspeedtrack";
    Layout = null;
    
}
<style>

.polje_red
{ 
    color:red; 
    width:50px; 
    height:50px; 
    background-color:red;

} 
.polje_white
{ 
    color:red; 
    width:50px; 
    height:50px; 
    background-color:white;

} 

.polje_lgray
{ 
    color:red; 
    width:30px; 
    height:30px; 
    background-color:lightslategray;

} 
.teren
{ 
    width: 100%; 
    text-align: left; 
    height:470px; 
    vertical-align:top; 
    border-spacing:0px; 
    border:0px; 
    PADDING:0; 
    border-collapse:collapse;

} 
.polje_text
{ 
    height:23px;
    width:23px; 
    position:relative; 
    border:1px;
    top:0px;
    vertical-align:top;
    border-left-color:gray;
    border-color:gray;
    background-color:lightgray;
} 
.polje_text_malo
{ 
    width:12px; 
    position:relative; 
    border:0px;
    

} 
</style>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/Scripts//fancybox/jquery.Easing-1.3.pack.js"></script>
    <link id="size-stylesheet" href="@Url.Content("/Content/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/fancybox/jquery.fancybox-1.3.4.css")" type="text/css" media="screen" />


<div style=" color:black; background-color:white; position:relative;">
    @if (ViewBag.teren.F01Active == true && ViewBag.teren.F01PhotoCell == true)
    { 
    <div id="divF01" style=" position:absolute; width:137px; height:@(ViewBag.teren.F01DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F01PositionX.ToString())px; top:@(ViewBag.teren.F01PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
@*                @Html.TextBoxFor("F01", Model.F01Name , new {id = "F01"})*@
                <td><input id="F01"  value="@(ViewBag.teren.F01Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
    }   
      
    @if (ViewBag.teren.F02Active == true && ViewBag.teren.F02PhotoCell == true)
    { 
    <div id="divF02" style=" position:absolute; width:137px; height:@(ViewBag.teren.F02DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F02PositionX.ToString())px; top:@(ViewBag.teren.F02PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F02", Model.F02Name , Model.F02Name==2?true:false, new {id = "F02"})</td>*@
                <td><input id="F02"  value="@(ViewBag.teren.F02Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
    }    
     
    @if (ViewBag.teren.F03Active == true && ViewBag.teren.F03PhotoCell == true)
    {     
    <div id="divF03" style=" position:absolute; width:137px; height:@(ViewBag.teren.F03DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F03PositionX.ToString())px; top:@(ViewBag.teren.F03PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F03", Model.F03Name , Model.F03Name==2?true:false, new {id = "F03"})</td>*@
                <td><input id="F03"  value="@(ViewBag.teren.F03Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
    }   
      
    @if (ViewBag.teren.F04Active == true && ViewBag.teren.F04PhotoCell == true)
    {      
    <div id="divF04" style=" position:absolute; width:137px; height:@(ViewBag.teren.F04DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F04PositionX.ToString())px; top:@(ViewBag.teren.F04PositionY.ToString())px; " >  
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F04", Model.F04Name , Model.F04Name==2?true:false, new {id = "F04"})</td>*@
                <td><input id="F04"  value="@(ViewBag.teren.F04Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
    }
         
    @if (ViewBag.teren.F05Active == true && ViewBag.teren.F05PhotoCell == true)
    {     
    <div id="divF05" style=" position:absolute; width:137px; height:@(ViewBag.teren.F05DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F05PositionX.ToString())px; top:@(ViewBag.teren.F05PositionY.ToString())px; " >
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F05", Model.F05Name , Model.F05Name==2?true:false, new {id = "F05"})</td>*@
                <td><input id="F05"  value="@(ViewBag.teren.F05Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
    }  
       
    @if (ViewBag.teren.F06Active == true && ViewBag.teren.F06PhotoCell == true)
    {        
    <div id="divF06" style=" position:absolute; width:137px; height:@(ViewBag.teren.F06DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F06PositionX.ToString())px; top:@(ViewBag.teren.F06PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F06", Model.F06Name , Model.F06Name==2?true:false, new {id = "F06"})</td>*@
                <td><input id="F06"  value="@(ViewBag.teren.F06Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
     }
         
    @if (ViewBag.teren.F07Active == true && ViewBag.teren.F07PhotoCell == true)
    {    
    <div id="divF07" style=" position:absolute; width:137px; height:@(ViewBag.teren.F07DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F07PositionX.ToString())px; top:@(ViewBag.teren.F07PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F07", Model.F07Name , Model.F07Name==2?true:false, new {id = "F07"})</td>*@
                <td><input id="F07"  value="@(ViewBag.teren.F07Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
     }  
       
    @if (ViewBag.teren.F08Active == true && ViewBag.teren.F08PhotoCell == true)
    {     
    <div id="divF08" style=" position:absolute; width:137px; height:@(ViewBag.teren.F08DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F08PositionX.ToString())px; top:@(ViewBag.teren.F08PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F08", Model.F08Name , Model.F08Name==2?true:false, new {id = "F08"})</td>*@
                <td><input id="F08"  value="@(ViewBag.teren.F08Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
     } 
        
    @if (ViewBag.teren.F09Active == true && ViewBag.teren.F09PhotoCell == true)
    {      
    <div id="divF09" style=" position:absolute; width:137px; height:@(ViewBag.teren.F09DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F09PositionX.ToString())px; top:@(ViewBag.teren.F09PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F09", Model.F09Name , Model.F09Name==2?true:false, new {id = "F09"})</td>*@
                <td><input id="F09"  value="@(ViewBag.teren.F09Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       }  
       
    @if (ViewBag.teren.F10Active == true && ViewBag.teren.F10PhotoCell == true)
    {      
    <div id="divF10" style=" position:absolute; width:137px; height:@(ViewBag.teren.F10DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F10PositionX.ToString())px; top:@(ViewBag.teren.F10PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F10", Model.F10Name , Model.F10Name==2?true:false, new {id = "F10"})</td>*@
                <td><input id="F10"  value="@(ViewBag.teren.F10Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       } 
        
    <!-- 11 -->
    @if (ViewBag.teren.F11Active == true && ViewBag.teren.F11PhotoCell == true)
    {      
    <div id="divF11" style=" position:absolute; width:137px; height:@(ViewBag.teren.F11DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F11PositionX.ToString())px; top:@(ViewBag.teren.F11PositionY.ToString())px; " >
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F11", Model.F11Name , Model.F11Name==2?true:false, new {id = "F11"})</td>*@
                <td><input id="F11"  value="@(ViewBag.teren.F11Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       } 
        
    <!-- 12 -->
    @if (ViewBag.teren.F12Active == true && ViewBag.teren.F12PhotoCell == true)
    {     
    <div id="divF12" style=" position:absolute; width:137px; height:@(ViewBag.teren.F12DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F12PositionX.ToString())px; top:@(ViewBag.teren.F12PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F12", Model.F12Name , Model.F12Name==2?true:false, new {id = "F12"})</td>*@
                <td><input id="F12"  value="@(ViewBag.teren.F12Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       }  
     
    <!-- 13 -->
    @if (ViewBag.teren.F13Active == true && ViewBag.teren.F13PhotoCell == true)
    {     
    <div id="divF13" style="position:absolute; width:137px; height:@(ViewBag.teren.F13DimensionX.ToString())px;  color:white; background-color:white;   left:@(ViewBag.teren.F13PositionX.ToString())px; top:@(ViewBag.teren.F13PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F13", Model.F13Name , Model.F13Name==2?true:false, new {id = "F13"})</td>*@
                <td><input id="F13"  value="@(ViewBag.teren.F13Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       }  
     
    <!-- 14 -->
    @if (ViewBag.teren.F14Active == true && ViewBag.teren.F14PhotoCell == true)
    {     
    <div id="divF14" style=" position:absolute; width:137px; height:@(ViewBag.teren.F14DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F14PositionX.ToString())px; top:@(ViewBag.teren.F14PositionY.ToString())px; " >
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F14", Model.F14Name , Model.F14Name==2?true:false, new {id = "F14"})</td>*@
                <td><input id="F14"  value="@(ViewBag.teren.F14Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       }  
     
    <!-- 15 -->
    @if (ViewBag.teren.F15Active == true && ViewBag.teren.F15PhotoCell == true)
    {     
    <div id="divF15" style=" position:absolute; width:137px; height:@(ViewBag.teren.F15DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F15PositionX.ToString())px; top:@(ViewBag.teren.F15PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F15", Model.F15Name , Model.F15Name==2?true:false, new {id = "F15"})</td>*@
                <td><input id="F15"  value="@(ViewBag.teren.F15Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       } 

    <!-- 16 -->
    @if (ViewBag.teren.F16Active == true && ViewBag.teren.F16PhotoCell == true)
    {     
    <div id="divF16" style=" position:absolute; width:137px; height:@(ViewBag.teren.F16DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F16PositionX.ToString())px; top:@(ViewBag.teren.F16PositionY.ToString())px; " > 
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.TextBoxFor("F16", Model.F16Name , Model.F16Name==2?true:false, new {id = "F16"})</td>*@
                <td><input id="F16"  value="@(ViewBag.teren.F16Name)"  class="polje_text"/></td>
            </tr>          
        </table>  
    </div>
       } 

    <!-- 17 -->
    @if (ViewBag.teren.F17Active == true && ViewBag.teren.F17PhotoCell == true)
    {     
    <div id="divF17" style=" position:absolute; width:137px; height:@(ViewBag.teren.F17DimensionX.ToString())px;  color:white; background-color:white;  left:@(ViewBag.teren.F17PositionX.ToString())px; top:@(ViewBag.teren.F17PositionY.ToString())px; " >
        <table style="text-align:left; width:137px;">
            <tr>
                <td><img src="~/ImagesApp/photochellikonaCRVENA.png" /></td>
                @*<td>@Html.txtName("F17", Model.F17Name , Model.F17Name==2?true:false, new {id = "F17"})</td>*@
                <td><input id="F17"  value="@(ViewBag.teren.F17Name)"  class="polje_text"/></td>
            </tr>          
        </table>  

    </div>
       } 


</div>

        <script>
            $(document).ready(function () {

                $('#F01').focusout(function () {
                    var ime01 = $('#F01').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj:'F01', ime: ime01 },
                         function (data) {
                             //alert("1");
                         });

                });
                $('#F02').focusout(function () {
                    var ime02 = $('#F02').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F02', ime: ime02 },
                         function (data) {
                         });
                });
                $('#F03').focusout(function () {
                    var ime03 = $('#F03').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F03', ime: ime03 },
                         function (data) {
                         });
                });
                $('#F04').focusout(function () {
                    var ime04 = $('#F04').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F04', ime: ime04 },
                         function (data) {
                         });
                });
                $('#F05').focusout(function () {
                    var ime05 = $('#F05').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F05', ime: ime05 },
                         function (data) {
                         });
                });
                $('#F06').focusout(function () {
                    var ime06 = $('#F06').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F06', ime: ime06 },
                         function (data) {});
                });
                $('#F07').focusout(function () {
                    var ime07 = $('#F07').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F07', ime: ime07 },
                         function (data) { });
                });
                $('#F08').focusout(function () {
                    var ime08 = $('#F08').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F08', ime: ime08 },
                         function (data) { });
                });
                $('#F09').focusout(function () {
                    var ime09 = $('#F09').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F09', ime: ime09 },
                         function (data) { });
                });
                $('#F10').focusout(function () {
                    var ime10 = $('#F10').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F10', ime: ime10 },
                         function (data) { });
                });
                $('#F11').focusout(function () {
                    var ime11 = $('#F11').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F11', ime: ime11 },
                         function (data) { });
                });
                $('#F12').focusout(function () {
                    var ime12 = $('#F12').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F12', ime: ime12 },
                         function (data) { });
                });
                $('#F13').focusout(function () {
                    var ime13 = $('#F13').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F13', ime: ime13 },
                         function (data) { });
                });
                $('#F14').focusout(function () {
                    var ime14 = $('#F14').val();
                    //alert(ime14);
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F14', ime: ime14 },
                         function (data) { });
                });
                $('#F15').focusout(function () {
                    var ime15 = $('#F15').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F15', ime: ime15 },
                         function (data) { });
                });
                $('#F16').focusout(function () {
                    var ime16 = $('#F16').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F16', ime: ime16 },
                         function (data) { });
                });
                $('#F17').focusout(function () {
                    var ime17 = $('#F17').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F17', ime: ime17 },
                         function (data) { });
                });
                $('#F18').focusout(function () {
                    var ime18 = $('#F18').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F18', ime: ime18 },
                         function (data) { });
                });
                $('#F19').focusout(function () {
                    var ime19 = $('#F19').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F19', ime: ime19 },
                         function (data) { });
                });
                $('#F20').focusout(function () {
                    var ime20 = $('#F20').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F20', ime: ime20 },
                         function (data) { });
                });
                $('#F21').focusout(function () {
                    var ime21 = $('#F21').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F21', ime: ime21 },
                         function (data) { });
                });
                $('#F22').focusout(function () {
                    var ime22 = $('#F22').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F22', ime: ime22 },
                         function (data) { });
                });
                $('#F23').focusout(function () {
                    var ime23 = $('#F23').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F23', ime: ime23 },
                         function (data) { });
                });
                $('#F24').focusout(function () {
                    var ime24 = $('#F24').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F24', ime: ime24 },
                         function (data) { });
                });
                $('#F25').focusout(function () {
                    var ime25 = $('#F25').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F25', ime: ime25 },
                         function (data) { });
                });
                $('#F26').focusout(function () {
                    var ime26 = $('#F26').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F26', ime: ime26 },
                         function (data) { });
                });
                $('#F27').focusout(function () {
                    var ime27 = $('#F27').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F27', ime: ime27 },
                         function (data) { });
                });
                $('#F28').focusout(function () {
                    var ime28 = $('#F28').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F28', ime: ime28 },
                         function (data) { });
                });
                $('#F29').focusout(function () {
                    var ime29 = $('#F29').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F29', ime: ime29 },
                         function (data) { });
                });
                $('#F30').focusout(function () {
                    var ime30 = $('#F30').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F30', ime: ime30 },
                         function (data) { });
                });
                $('#F31').focusout(function () {
                    var ime31 = $('#F31').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F31', ime: ime31 },
                         function (data) { });
                });
                $('#F32').focusout(function () {
                    var ime32 = $('#F32').val();
                    $.post('@Url.Action("AjaxSetFieldName", "Configurator")', { broj: 'F32', ime: ime32 },
                         function (data) { });
                });
            });


            </script>