@model MvcTEST.Models.tblGame
@using MvcTEST.HtmlHelpers

@{
    ViewBag.Title = "Edit";
}


<div id="l1" style="padding: 10px; width: inherit; height: inherit; position: relative; z-index: 1; -moz-box-shadow: 3px 3px 5px 6px #000; -webkit-box-shadow: 3px 3px 5px 6px #000; box-shadow: 0px 0px 20px 0px gray; border: 0px solid; border-radius: 10px; -moz-border-radius: 10px; background-color: #EFECE7;">
    <div align="right" style="border: 0px solid;">
        @*<a href="@Url.Action("Index", "Home")" > <img src="~/ImagesApp/close.png" border="0" /></a>*@
                            @if (Html.User().Role == 50)
                            {
                                <!-- VLASNIK -->
                                <a id="aron" href="@Url.Action("Index", "AdminHome")">
                                    <img src="~/ImagesApp/close.png" />
                                </a>
                            }
                            else if  (Html.User().Role == 40)
                            {
                                <!-- TRENER -->
                                <a id="aron" href="@Url.Action("Index", "Quickstart")">
                                    <img src="~/ImagesApp/close.png" />
                                </a>
                            }
                            else if (Html.User().Role == 20 || Html.User().Role == 30)
                            {
                                <!-- IGRAC -->
                                <a href="@(Url.Action("BenutzerProfil", "ResultsUser")+"?UserID="+Html.User().ID)">
                                    <img src="~/ImagesApp/close.png" />
                                </a>
                            }
                            else if  (Html.User().Role == 10)
                            {
                                <!-- QUICKGAME -->
                                <a id="aron" href="@Url.Action("Index", "User")">
                                    <img src="~/ImagesApp/close.png" />
                                </a>
                            }
                            else
                            {
                                <!-- ... -->
                                <a id="aron" href="@Url.Action("Index", "User")">
                                    <img src="~/ImagesApp/close.png" />
                                </a>
                            }
    </div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)
    
    <table>
        <tr>
            <td>
                <div class="editor-label" style="width: 200px">
                    @Html.Translate("Name") @*@Html.LabelFor(model => model.Name)*@
                </div>
            </td>
            <td colspan="2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label" style="width: 200px">
                    @Html.Translate("Schnelles Spiel Pool") @*@Html.LabelFor(model => model.QuickGamePool)*@
                </div>
            </td>
            <td>
                <div class="editor-field" style="width: 150px">
                    @Html.EditorFor(model => model.QuickGamePool)
                    @Html.ValidationMessageFor(model => model.QuickGamePool)
                </div>
            </td>
            <td>
                <div style="width: 50px">
@*                <a href="@Url.Action("Index", "Configurator")">
                    <img src="~/ImagesApp/save.jpg" />
                </a>*@
                    <INPUT TYPE="image" src="~/ImagesApp/save.jpg" 
                                   WIDTH="30"  HEIGHT="30" 
                                  BORDER="0" ALT="SUBMIT!"> 


@*                    <input type="submit" value="Save" />*@
                </div>
            </td>
        </tr>
    </table>
    


        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.NameHR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameHR)
            @Html.ValidationMessageFor(model => model.NameHR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NameENG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameENG)
            @Html.ValidationMessageFor(model => model.NameENG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsRandom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsRandom)
            @Html.ValidationMessageFor(model => model.IsRandom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RandomValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RandomValue)
            @Html.ValidationMessageFor(model => model.RandomValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RandomType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RandomType)
            @Html.ValidationMessageFor(model => model.RandomType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsTimeLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsTimeLimit)
            @Html.ValidationMessageFor(model => model.IsTimeLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeLimit)
            @Html.ValidationMessageFor(model => model.TimeLimit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Objectives)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Objectives)
            @Html.ValidationMessageFor(model => model.Objectives)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Definition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Definition)
            @Html.ValidationMessageFor(model => model.Definition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescriptionHR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescriptionHR)
            @Html.ValidationMessageFor(model => model.DescriptionHR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumShownFields)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumShownFields)
            @Html.ValidationMessageFor(model => model.NumShownFields)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumRepetition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumRepetition)
            @Html.ValidationMessageFor(model => model.NumRepetition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RandomFields)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RandomFields)
            @Html.ValidationMessageFor(model => model.RandomFields)
        </div>*@

        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID, "tblCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>*@



}

<div>
    @Html.ActionLink(@Html.Translate("Zurück zur Liste"), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>
</div>