@model MvcTEST.Models.tblTerm

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblTerm</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblUser.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblUser.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEnd)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
